h1,
h2 {
    padding: 8px;
    margin: 8px;
    text-align: center;
    
    /* other styling */
    /*background-color: #33475b;
    border-radius: 10px;*/
    color: #33475b;
    font-family: Avenir;
  }

h3{
  padding: 20px 20px;
  text-align: left;    
  color: #33475b;
  text-align: center;
}

button{
  padding: 8px;
  margin: 8px;
  background-color: #33475b;
  color: white;
  font-family: Avenir;
  width: fit-content;
}

section, ul, ol{
  padding: 50px;  
  margin: 25px;
  border-radius: 10px;
  color: white;
  font-family: Avenir;
  background-color: #33475b;
  width: fit-content;
}

p{
  padding: 10px;  
  margin: 10px;
  border-radius: 10px;
  color: white;
  font-family: Avenir;
  background-color: #33475b;
  width: fit-content;
  font-size: 18px;

}

.p-meal-plan{
  padding: 5px;  
  margin: 5px;
  border-radius: 10px;
  color: white;
  font-family: Avenir;
  background-color: #33475b;
  width: fit-content;
  font-size: 14px;

}

.recipe-label{
  color: #33475b;
  font-family: Avenir;
  width: fit-content;
  font-size: 18px;

}

.grid-container {
  display: grid;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 40px;
  text-align: center;
  cursor: pointer;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.recipe_img {
  width: 90%;
  height: 90%;
  object-fit: cover;
}

.link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.topnav {
  overflow: hidden;
  background-color:#33475b;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 24px;
}

.topnav a:hover {
  background-color: #ddd;
  color:#33475b;
}
.topnavtext {
  margin-right: 10px;
  display: inline;
}

.signup-login-user-form input{
  display:flex;
}

.ingredient-div{
  color:#33475b;
  display:inline;
}

.calendar-div {
  height: 50%;
  width: 40%;
}

 /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 750px;
  top: 250px;
  width: fit-content; /* Full width */
  height: fit-content; /* Full height */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  border: 1px solid #888;
  width: auto; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} 
.modal-header {
  padding: 2px 16px;
  background-color: #33475b;
  color: white;
}

.modal-body {padding: 2px 16px;}

th, td {
  text-align: center;
  border: 1px solid #33475b;
  font-size: 18px;
  font-weight: bold;
  color: #33475b;
}

