h1,
h2,
h5 {
    padding: 8px;
    margin: 8px;
    text-align: center;
    color: black;
    font-family: Roboto;
    font-size: 28px;
  }

h3{
  padding: 20px 20px;
  color: #007F5F;
  text-align: center;
  font-family: Roboto;
}

h4{
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;    
  color: #007F5F;
  font-family: Roboto;
}

button{
  padding: 8px;
  margin: 8px;
  background-color: #007F5F;
  color: white;
  font-family: Roboto;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.app-section, .app-ul, .app-ol{
  padding: 50px;  
  margin: 25px;
  border-radius: 10px;
  color: black;
  border: 1px solid #007F5F;
  font-family: Roboto;
  width: fit-content;
  text-align: left;
}

p{
  padding: 10px;  
  margin: 10px;
  border-radius: 10px;
  color: #007F5F;
  font-family: Roboto;
  width: fit-content;
  font-size: 18px;
}

.p-meal-plan{
  padding: 5px;  
  margin: 5px;
  border-radius: 10px;
  color:white;
  font-family: Roboto;
  background-color: #007F5F;
  font-size: 16px;

}

.recipe-label{
  color: #33475b;
  font-family: Roboto;
  width: fit-content;
  font-size: 18px;

}

.grid-container {
  display: grid;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 40px;
  text-align: center;
  cursor: pointer;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.recipe_img {
  width: 90%;
  height: 90%;
  object-fit: cover;
}

.link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  height: 40%;
}

.navbartext{
  color:black;
  font-size: 20px;
  font-weight: 500;
  padding: 10pt 20pt;
  font-family: Roboto;
  text-decoration: none;
}
a:link:active, a:visited:active {
  color: #007F5F;
}
.navbarborder{
   border-bottom: 3px solid #007F5F;
}

/* .signup-login-user-form input{
  display:right;
} */

.ingredient-div{
  color:#33475b;
  display:inline;
}

 /* The Modal (background) */
.mp-modal {
  display: none; /* Hidden by default */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  position: absolute;
  top: 30%;
  bottom:50%;
  width: 100%;
  /* width: fit-content; Full width */
  height: 100%; /* Full height */
}

.gl-modal {
  display: none; /* Hidden by default */
  z-index: 1; /* Sit on top */
  padding-top: 100px;
  position:absolute;                 
  top:150%;
  bottom:0;                         
  right:0;                       
  width: 100%;
  height: 100%; /* Full height */
}

/* Modal Content/Box */
.modal-content {
  background-color: white;
  width: auto; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} 
.modal-header {
  /* padding: 2px 16px; */
  background-color: white;
  color: #007F5F;
}
.select{
  background-color: white;
  color: #007F5F;
}

.modal-body {
  padding-top: 10pt; 
  padding-bottom: 10pt;
  margin-left: auto;
  margin-right: auto;
  float: left;
}

th, td {
  text-align: center;
  border: 2pt solid #007F5F;
  font-size: 18px;
  font-weight: bold;
  color: black;
}

.homepage-div{
  height: 100%;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

input{
  color:#007F5F
}

.banner {
  height: 100%;
  width: 100%;
  background-size: cover;
  /* filter: grayscale(10%); */
}

.div-image-text {
  position: relative;
}

.first-txt {
  position: absolute;
  top: 20pt;
  left:450pt;
  /* color:#2C046D; */
  color:white;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  font-family: Roboto;
  font-size: 32pt;
}
.accordion-text{
  font-family: Roboto;
  font-size: 20pt;
  accordion-button-active-bg: green; 

}

.accordion-button:link, .accordion-button:visited, .accordion-button:hover, .accordion-button:active  {
  background-color: #007F5F !important;
  color:#FFF !important;
  text-decoration: none !important;
  border: hidden !important;
  border-color: #FFF !important;
  box-shadow: 0px !important;      
}

.accordion-button:focus {
  z-index: 3;
  border-color: #FFF !important;
  outline: 0;
  box-shadow: 0 0 0 .25rem #FFF !important;
}

.accordion-button:not(.collapsed) {
  color: #FFF  !important;
  background-color: #007F5F !important;
}

.checkbox-search{
  display: inline-block;
}
.card{
  margin-top: 20pt;
  margin-bottom: 20pt;
  margin-left: 20pt;
  margin-right: 20pt;
  position:relative;
}
.row{
  margin-left: 100pt;
  margin-right: 100pt;
}
.toast{
  color:#007F5F;
  text-align: center;
  background-color: white;
  margin-left: 50pt;
  position: absolute; 
  top: 150pt; 
  left: 100pt ;
}
.gl-toast{
  color:#007F5F;
  text-align: center;
  background-color: white;
  position: absolute;
  top:150%; 
  bottom:0;                         
  left:0;  
}
.card-text{
  position:absolute;                 
  bottom:0;                         
  left:0;  
}



