{% extends 'base.html' %}
{% block title %}Grocery List{% endblock %}

{% block body %}
<h1>Grocery List</h1><br>
<h2>for week {{start_day}} - {{end_day}}</h2><br>

<center> 
<form>   
    <ul>
    {%for aisle in grocery_list%}
    <div id="grocery_list">
        <h4 id="aisle">{{aisle}}</h4>
        {%for item in grocery_list[aisle]%}
        <li id="item">{{item}}</li> 
        {%endfor%}   
    </div>
    {%endfor%}
    </ul>
</form>
</center>    
<center><button type="submit" id="send_email_btn">Send email</button></center>

<!-- The Modal window -->
<center>
    <div id="date_category_modal_window" class="modal">
       <!-- Modal content -->
       <div class="modal-content">
           <div class="modal-header">
               <p>Send grocery list by email:</p>
               <span class="close">&times;</span>
           </div>
           <section class="modal-body">
               <label for="meal_date">Enter email:</label>
               <input type="text" id="email" name="email">
           </section>
           <center><button type="button" id="send_email" onclick="sendEmail(this, '{{start_day}}', '{{end_day}}')">Send</button></center>
       </div>
   </div>
</center>

<script src="/static/js/grocery_list.js"></script>
{% endblock %}