{% extends 'base.html' %}

{% block title %}Cook Book{% endblock %}
{%block body%}

    <h1>Welcome to your personal Cook Book</h1>
    <h2>What would you like to cook today?</h2>
    
      <section id="search-by-ingredients-container">
        <form action="/recipes" method="GET">
          <label for="search_ingredients">Search by ingredients:</label>
          <input type="text" id ="search_ingredients" placeholder="Apple, flour, sugar" name="ingredients" method="POST">
          <button type="submit" id="submit">Submit</button>
        </form>
      </section>
      
      <section id="advanced-search-container">
        <h3>Advanced search of recipe:</h3><br>
        <form action="/recipes_advanced" method="GET">
            <label for="dish">Dish:</label>
            <input type="text" id ="dish" placeholder="pasta" name="query" method="POST"><br><br>
            <label for="includeIngredients">Ingredients:</label>
            <input type="text" id ="includeIngredients" placeholder="tomato, cheese" name="includeIngredients" method="POST"><br>
            <div><br>
              <label>Choose a meal type:</label>
              <select name="type" id="type" method="POST">
                  <option value="none" selected disabled hidden>Select an Option</option>
                  <option value="main course">main course</option>
                  <option value="side dish">side dish</option>
                  <option value="dessert">dessert</option>
                  <option value="appetizer">appetizer</option>
                  <option value="salad">salad</option>
                  <option value="bread">bread</option>
                  <option value="breakfast">breakfast</option>
                  <option value="soup">soup</option>
                  <option value="sauce">sauce</option>
                  <option value="snack">snack</option>
                  <option value="fingerfood">fingerfood</option>
                  <option value="drink">drink</option>
              </select>
          </div><br>
            <div>
              <label>Choose a cuisine:</label>
              <select name="cuisine" id="cuisine" method="POST">
                  <option value="none" selected disabled hidden>Select an Option</option>
                  <option value="European">European</option>
                  <option value="French">French</option>
                  <option value="Korean">Korean</option>
                  <option value="American">American</option>
                  <option value="Chinese">Chinese</option>
                  <option value="British">British</option>
                  <option value="Italian">Italian</option>
                  <option value="Mediterranean">Mediterranean</option>
                  <option value="Mexican">Mexican</option>
                  <option value="Japanese">Japanese</option>
                  <option value="German">German</option>
                  <option value="Indian">Indian</option>
              </select>
          </div><br>
          <div>
            <label>Choose a diet</label>
            <select name="diet" id="diet" method="POST">
                <option value="none" selected disabled hidden>Select an Option</option>
                <option value="Glute Free">Gluten Free</option>
                <option value="Keto">Ketogenic</option>
                <option value="Vegetarian">Vegetarian</option>
                <option value="Lacto-Vegetarian">Lacto-Vegetarian</option>
                <option value="Vegan">Vegan</option>
                <option value="Pescetarian">Pescetarian</option>
                <option value="Paleo">Paleo</option>
                <option value="Low FODMAP">Low FODMAP</option>
                <option value="Whole30">Whole30</option>
            </select>
        </div><br>
        
        <div>
        <label>Food Intolerances:</label><br>
          <input type="checkbox" id="dairy" name="intolerances" value="dairy">
          <label for="dairy"> Dairy</label><br>
          <input type="checkbox" id="egg" name="intolerances" value="egg">
          <label for="egg">Egg</label><br>
          <input type="checkbox" id="gluten" name="intolerances" value="gluten">
          <label for="gluten">Gluten</label><br>
          <input type="checkbox" id="grain" name="intolerances" value="grain">
          <label for="grain">Grain</label><br>
          <input type="checkbox" id="peanut" name="intolerances" value="peanut">
          <label for="peanut">Peanut</label><br>
          <input type="checkbox" id="wheat" name="intolerances" value="wheat">
          <label for="wheat">Wheat</label><br>
          <input type="checkbox" id="seafood" name="intolerances" value="seafood">
          <label for="seafood">Seafood</label><br>
          <input type="checkbox" id="sesame" name="intolerances" value="sesame">
          <label for="sesame">Sesame</label><br>
          <input type="checkbox" id="shellfish" name="intolerances" value="shellfish">
          <label for="shellfish">Shellfish</label><br>
          <input type="checkbox" id="soy" name="intolerances" value="soy">
          <label for="soy">Soy</label><br>
          <input type="checkbox" id="sulfite" name="intolerances" value="sulfite">
          <label for="sulfite">Sulfite</label><br>
          <input type="checkbox" id="treenut" name="intolerances" value="treenut">
          <label for="treenut">Tree Nut</label><br>
        </div> <br>
        
        <button type="submit" id="submit">Search</button>
        </form>
      </section>


{% endblock %}