{% extends 'base.html' %}
{% block title %}Meal Plan{% endblock %}

{% block body %}
<h1>Meal Plan</h1><br>

<center>
    <a href="/" style="color: transparent"><button type="submit" id="add_recipe" style="display:inline;">Add recipe to Meal Plan</button></a> 
    <form action="/get_grocery_list/{{start_day}}/{{end_day}}" method="POST" style="display:inline;"> 
        <button type="submit" id="grocery_list">Get Grocery List</button>
    </form>
</center><br>
<center>
    <section class="app-section">
        <form action="/open_meal_plan" method="POST"> 
            <label for="start_date"> Start Date:</label>
            <input type="date" id="start_date" name="monday">
            <label for="end_date"> End Date:</label>
            <input type="date" id="end_date" name="sunday">
            <button type="submit" id="open">Open Meal Plan</button>
        </form>
    </section>
</center>

<h2>for a week: {{start_day}} - {{end_day}} </h2>
    <center>
        {%if meal_plan|length>0%}
            <table>
                <tr>
                <th>Meal:</th> 
                {%for day in meal_plan%}
                    {%for key in day%}
                        <th>{{key}}</th>
                    {%endfor%}
                {%endfor%}
                </tr>

                <tr>
                <td>breakfast</td>
                {%for day in meal_plan%}
                    {%for key in day%}
                        <th>{%for i in day[key]['breakfast']%}
                            <div>
                                <a href="/open_recipe_meal_plan/{{i.recipe_name}}" style="color: transparent">
                                    <p class="p-meal-plan" style="display:inline;">{{i.recipe_name}}</p>
                                </a>
                                <button class="btn btn-xs" type="button" style="display:inline;" data-toggle="tooltip" data-placement="top"
                                title="Delete" onclick="deleteRecipe(this, '{{i.recipe_name}}')"><i class="bi bi-trash"></i></button>
                            </div>
                        {%endfor%}
                        </th>
                    {%endfor%}
                {%endfor%}
                </tr>
            
                <tr>
                <td>lunch</td>
                {%for day in meal_plan%}
                    {%for key in day%}
                        <th>{%for i in day[key]['lunch']%}
                            <div>
                                <a href="/open_recipe_meal_plan/{{i.recipe_name}}" style="color: transparent">
                                    <p class="p-meal-plan" style="display:inline;">{{i.recipe_name}}</p> 
                                </a>
                                <button class="btn btn-xs" type="button" style="display:inline;" data-toggle="tooltip" data-placement="top"
                                title="Delete" onclick="deleteRecipe(this, '{{i.recipe_name}}')"><i class="bi bi-trash"></i></button>
                            </div>
                        {%endfor%}
                        </th>
                    {%endfor%}
                {%endfor%}
                </tr>
            
                <tr>
                <td>dinner</td>
                {%for day in meal_plan%}
                    {%for key in day%}
                        <th>{%for i in day[key]['dinner']%}
                            <div>
                                <a href="/open_recipe_meal_plan/{{i.recipe_name}}" style="color: transparent">
                                    <p class="p-meal-plan" style="display:inline;">{{i.recipe_name}}</p>
                                </a>
                                <button class="btn btn-xs" type="button" style="display:inline;" data-toggle="tooltip" data-placement="top"
                                title="Delete" onclick="deleteRecipe(this, '{{i.recipe_name}}')"><i class="bi bi-trash"></i></button>
                            </div>
                        {%endfor%}
                        </th>
                    {%endfor%}
                {%endfor%}
                </tr>
            </table>
        {%else%}
            <h2>There is no meal plan for this week</h2>
        {%endif%}

    </center> 
    <script src="static/js/meal_plan_table.js"></script>
{% endblock %}
