{% extends 'base.html' %}
{% block title %}Search recipes{% endblock %}
{% block body %}
{%if type=="breakfast"%}
  <h1>Breakfast Recipes:</h1>
{%elif type=="lunch"%}
  <h1>Lunch Recipes:</h1>
{%else%}
  <h1>Dinner Recipes:</h1>
{%endif%}
<div class="row row-cols-1 row-cols-md-4 g-4">
    {% for recipe in recipes['recipes']%}
    <div class="col">
      <a href="/recipe_details/{{recipe['id']}}">    
      <div class="shadow bg-white rounded card h-100">
        <img src="{{recipe['image']}}" class="card-img-top" height="250pt">
        <div class="card-body">
          <h5 class="card-title">{{recipe['title']}}</h5>
        </div>
      </div>
      </a>
    </div>
    {%endfor%}
  </div>
  {% endblock %}