{% extends 'base.html' %}
{% block title %}Search recipes{% endblock %}
{% block body %}

<h1>Recipes:</h1>

<!-- Display list of found recipes (titles and pictures) -->

<div class="row row-cols-1 row-cols-md-3 g-4">
  {% for recipe in recipes%}
  <div class="col">  
    <div class="shadow bg-white rounded card">
      <a href="/recipe_details/{{recipe['id']}}">  
      <img src="{{recipe['image']}}" class="card-img-top" height="400pt">
      </a>
      <div class="card-body">
        <h5 class="card-title">{{recipe['title']}}</h5>
      </div>
    </div>
  </div>
  {%endfor%}
</div>
{% endblock %}