{% extends 'base.html' %}
{% block title %}Recipe details{% endblock %}
{% block body %}
    
    <h2 id="recipe_title">{{recipe['title']}}</h2><br>
    {% if session["user_id"] %}
        <center>
            <button type="submit" id="add_favorites" style="display:inline;">Add to Favorites</button> 
            <button type="submit" id="add_meal_plan" style="display:inline;">Add to Meal plan</button>
        </center><br>
    {% else %}
        <center><button type="submit" id="add_favorites" hidden>Add to Favorites</button> </center>
    {% endif %}  
    <img id ="recipe_image" src="{{recipe['image']}}" width="20%" class="center"><br>
     <!-- The Modal window -->
     <center>
     <div id="date_category_modal_window" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <p>Choose date and category</p>
                <span class="close">&times;</span>
            </div>
            <section class="modal-body">
                <label for="meal_date">Date:</label>
                <input type="date" id="meal_date" name="meal_date">
            </section>
            <section class="modal-body">
                <label>Choose a category:</label>
                <select name="meal_category" id="meal_category">
                    <option value="none" selected disabled hidden>Select an Option</option>
                    <option value="breakfast">breakfast</option>
                    <option value="lunch">lunch</option>
                    <option value="dinner">dinner</option>
                </select>
            </section>
            <center><button type="submit" id="add_date_category">Add</button></center>
        </div>
    </div>
    </center>
    <center>
        <label class="recipe-label" for="time">Time:</label><h2 id="time" style="display:inline;">{{recipe['readyInMinutes']}}min</h2>
        <label class="recipe-label" for="servings">Servings:</label><h2 id="servings" style="display:inline;">{{recipe['servings']}}</h2> 
        <label class="recipe-label" for="calories">Calories:</label><h2 id="calories" style="display:inline;">{{calories}}</h2>
        <label class="recipe-label" for="fat">Fat:</label><h2 id="fat" style="display:inline;">{{fat}}</h2>
        <label class="recipe-label" for="protein">Protein:</label><h2 id="protein" style="display:inline;">{{protein}}</h2>
        <label class="recipe-label" for="carbs">Net Carbs:</label><h2 id="carbs" style="display:inline;">{{carbs}}</h2>
    </center><br>
    <center>
    <div>
    {%for type in dish_type%}
       <p id="dish_type" style="display:inline;">{{type}}</p>
    {%endfor%}
    </div>
    </center><br><br>
    <h2>Ingredients:</h2>
    <div id="ingredients" class="grid-container">    
            {%for ingredient in ingredients_list%}
            <grid_item id="item" style="border:solid">
                <img id="ingredient_image" src="https://spoonacular.com/cdn/ingredients_100x100/{{ingredient['image']}}">
                <div id="amount" class="ingredient-div">{{ingredient["amount"]}}</div>&nbsp<div id="unit" class="ingredient-div">{{ingredient["unit"]}}</div>&nbsp<div id="name" class="ingredient-div">{{ingredient["name"]}}</div> 
            </grid_item>
            {%endfor%}    
    </div>
    
    <h2>Instructions:</h2>
    
    <ol id="instructions">
        {%for step in instructions_list%}
        <li>{{step}}</li>
        {%endfor%}
    </ol><br>
    
    <center><textarea id="notes" rows="4" cols="50" name="notes" form="usrform" placeholder="Input your notes here"></textarea></center><br><br>


<script src="/static/js/favorites.js"></script>
<script src="/static/js/meal_plan.js"></script>
{% endblock %}