{% extends 'base.html' %}
{% block title %}Recipe details{% endblock %}
{% block body %}
    <h2 id="recipe_title">{{recipe.recipe_name}}</h2><br>
    <center><button type="submit" id="del_favorites">Delete from Favorites</button> </center>

    <img id ="recipe_image" src="{{recipe.recipe_image}}" width="20%" class="center"><br><br>

    <center>
        <label class="recipe-label" for="time">Time:</label><h2 id="time" style="display:inline;">{{recipe.time}}</h2>
        <label class="recipe-label" for="servings">Servings:</label><h2 id="servings" style="display:inline;">{{recipe.servings}}</h2> 
        <label class="recipe-label" for="calories">Calories:</label><h2 id="calories" style="display:inline;">{{recipe.calories}}</h2>
        <label class="recipe-label" for="fat">Fat:</label><h2 id="fat" style="display:inline;">{{recipe.fat}}</h2>
        <label class="recipe-label" for="protein">Protein:</label><h2 id="protein" style="display:inline;">{{recipe.protein}}</h2>
        <label class="recipe-label" for="carbs">Net Carbs:</label><h2 id="carbs" style="display:inline;">{{recipe.carbs}}</h2>
    </center><br>
    <center><p id="dish_type" style="display:inline;">{{category}}</p></center>

    </center><br><br>
    <h2>Ingredients:</h2>
    <div id="ingredients" class="grid-container">    
        {%for ingredient in ingredients%}
        <grid_item id="item" style="border:solid">
            <img id="ingredient_image" src="{{ingredient.ingredient_image}}">
            <div id="amount" class="ingredient-div">{{ingredient.quantity}}</div>&nbsp<div id="unit" class="ingredient-div">{{ingredient.measure}}</div>&nbsp<div id="name" class="ingredient-div">{{ingredient.ingredient_name}}</div> 
        </grid_item>
        {%endfor%}    
    </div>
    
    <h2>Instructions:</h2>
    <ol id="instructions">
        {%for step in instructions%}
            <li>{{step}}</li>
        {%endfor%}
    </ol><br>
    
    <center><h2 id="dish_type" style="display:inline;">{{recipe.note}}</h2></center><br><br>

    <script src="/static/js/delete_favorite.js"></script>
{% endblock %}