{% extends 'base.html' %}
{% block title %}Search recipes{% endblock %}
{% block body %}

<h1>Recipes:</h1>

 <!-- Display list of found recipes (titles and pictures) -->

 <div class="grid-container">
    {% for recipe in recipes['results']%}
    <grid_item>
    <figure class= "recipy_item">
      <h2>{{recipe['title']}}</h2><br>
        <a href="/recipe_details/{{recipe['id']}}">
          <img src="{{recipe['image']}}" class="recipe_img">
        </a>
      <h3>Time:{{ recipe['readyInMinutes']}} min  Likes:{{ recipe['aggregateLikes']}}</h3>
    </figure>
  </grid_item>
    {%endfor%}
</div>

{% endblock %}