{% extends 'base.html' %}
{% block title %}Recipe details{% endblock %}
{% block body %}

    <h2 id="recipe_title">{{recipe['title']}}</h2><br>
    <center><button type="submit" id="add_favorites">Add to Favorites</button> </center>
    <img id ="recipe_image" src="{{recipe['image']}}" width="20%" class="center"><br>

    <center>
    <h2 id="time" style="display:inline;">Time:{{recipe['readyInMinutes']}}min</h2> <h2 id="servings" style="display:inline;">Servings:{{recipe['servings']}}</h2> <h2 id="calories" style="display:inline;">Calories:{{calories}}</h2>
    <h2 id="fat" style="display:inline;">Fat:{{fat}}</h2>  <h2 id="protein" style="display:inline;">Protein:{{protein}}</h2> <h2 id="carbs" style="display:inline;">Net Carbs:{{carbs}}</h2>
    </center>

    <ul id="ingredients">
        <h3>Ingredients:</h3>
        {%for ingredient in ingredients_list%}
        <li>{{ingredient}}</li>
        {%endfor%}
    </ul>

    <ol id="instructions">
        <h3>Instructions:</h3>
        {%for step in instructions_list%}
        <li>{{step}}</li>
        {%endfor%}
    </ol><br>

    <center><textarea id="notes" rows="4" cols="50" name="notes" form="usrform" placeholder="Input your notes here"></textarea></center><br><br>


<script src="/static/js/favorites.js"></script>
{% endblock %}