{% extends 'base.html' %}
{% block title %}Search recipes{% endblock %}
{% block body %}

<h1>Recipes:</h1>

<div class="row row-cols-1 row-cols-md-3 g-4">
  {%for recipe in recipes['results']%}
  <div class="col">  
    <div class="shadow bg-white rounded card">
      <a href="/recipe_details/{{recipe['id']}}">  
      <img src="{{recipe['image']}}" class="card-img-top" height="400pt">
      </a>
      <div class="card-body">
        <h5 class="card-title">{{recipe['title']}}</h5>
        <p class="card-text">Time:{{ recipe['readyInMinutes']}} min  Likes:{{ recipe['aggregateLikes']}}</p>
      </div>
    </div>
  </div>
  {%endfor%}
</div>
{% endblock %}